<% include partials/header %>

<div id="user-dropdown-container" class="user-dropdown-container">
	<select id="user-dropdown" class="user-dropdown">
		<option value="" selected disabled hidden>--</option>
		<% users.forEach(function(user){ %>
			<option id="user-option-<%=user.Id%>" href="/users/<%=user.Id%>/projects">
				<%= user.FirstName %>
				<%= user.LastName %>
			</option>
		<% }); %>
	</select>
</div>

<table id="project-table" class="project-table">
	<thead class="project-table-header">
		<tr class="project-table-header-container">
	    <th>Project Id</th>
	    <th>Start Date</th>
	    <th>Time To Start</th>
	    <th>End Date</th>
	    <th>Credits</th>
	    <th>Status</th>
	  </tr>
	<thead>
	<tbody class="project-table-body-container">
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

<% include partials/footer %>
