<% include partials/header %>

<div id="user-dropdown-container">
	<select id="user-dropdown">
		<option value="" selected disabled hidden>--</option>
		<% users.forEach(function(user){ %>
			<option id="user-option-<%=user.Id%>" href="/users/<%=user.Id%>/projects">
				<%= user.FirstName %>
				<%= user.LastName %>
			</option>
		<% }); %>
	</select>
</div>

<table id="project-table" style="display:flex;flex-direction:column;">
	<tbody id="project-table-body">
		<tr>
	    <th>Project Id</th>
	    <th>Start Date</th>
	    <th>Time To Start</th>
	    <th>End Date</th>
	    <th>Credits</th>
	    <th>Status</th>
	  </tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

<% include partials/footer %>
