<% include partials/header %>

	<div style="display:flex;">
		<div class="">
			<div class="">
				Project Id
			</div>
			<div class="">
				Data
			</div>
		</div>
		<div class="">
			<div class="">
				Start Date
			</div>
			<div class="">
				Data
			</div>
		</div>
		<div class="">
			<div class="">
				Time To Start
			</div>
			<div class="">
				Data
			</div>
		</div>
		<div class="">
			<div class="">
				End Date
			</div>
			<div class="">
				Data
			</div>
		</div>
		<div class="">
			<div class="">
				Credits
			</div>
			<div class="">
				Data
			</div>
		</div>
		<div class="">
			<div class="">
				Status
			</div>
			<div class="">
				Data
			</div>
		</div>
	</div>
<% include partials/footer %>
